* {
    margin: 0;
    padding: 0;
}
a {
    color: #ffffff;
}
section {
    width: 96%;
    min-height: 560px;
    float: left;
    text-align: center;
    margin: 6px 1%;
    background-color: #fff;
    padding: 24px 1%;
    border-radius: 3px;
    -webkit-box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.05);
}
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: #f7f7f7;
    min-width: 1200px;
}
h1 {
    padding: 24px 36px;
    color: rgba(0,0,0,0.83);
}
h2 {
    padding: 24px 36px;
    color: rgba(0,0,0,0.83);
}
h3 {
    text-align: center;
    padding-bottom: 24px;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
}
h2, h3 {
    font-weight: 300;
}
#avg-temp {
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    text-align: center;
    padding-top: 6px;
    font-weight: 400;
}

#temperature-change,
#svg2,
#r-plot,
#USA {
    text-align: center;
}
#svg2,
#mapsection,
#highest-education-section {
    width: 96%;
    height: 500px;
}
#hand_outline {
    width: 100%;
    height: 500px;
}
#overlayHands {
    width: 100%;
    height: 500px;
}
#r-plot img {
    top: 60px;
    position: relative;
}
#introduction {
    width: 96%;
    margin: 0 1% 24px 1%;
    height: auto;
    min-height: 0;
    font-size: 1.1em;
}
.detail-container {
    padding-top: 12px;
    text-align: center;
    color: rgba(0,0,0,0.38);
    font-weight: 300;
}
.indigo {
    background-color: #3F51B5;
}
.purple {
    background-color: #7E57C2;
}
.blue {
    background-color: #2196F3;
}
.teal {
    background-color: #009688;
}
.cyan {
    background-color: #00BCD4;
}
.green {
    background-color: #4CAF50;
}
.light-green {
    background-color: #8BC34A;
}
.lime {
    background-color: #FF9800;
}
.description {
    color: #ffffff;
}
.description p {
    font-size: 1.2em;
    padding: 6px 24px;
    line-height: 1.6em;
    text-align: justify;
}
.description h3 {
    text-align: left;
    padding-left: 36px;
    color: rgba(255,255,255,0.6);
}
.intro-container {
    width: 60%;
    margin: 0 auto;
}
.hint {
    font-size: 14px;
}
select {
    margin-right: 24px;
}
ul { 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 50px;
}

li {
    text-align: left;
}
#radial-plot {
    height: 500px;
    width: 500px;
}
.area {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.area:hover {
    opacity: 0.7;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#ongoing-education {
    width: 100%;
    height: 500px;
    float: left;
}
#ongoing-education-selector {
    width: 30%;
    float: right;
    height: calc(100% - 48px);
    padding: 24px;
    position: relative;
}
#ongoing-education-selector .avatar {
    width: 128px;
    height: 128px;
    margin: 24px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#ongoing-education-selector .avatar:hover {
    width: 136px;
    height: 136px;
    margin: 20px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.avatar {
    border-radius: 50%;
    border: 5px solid;
    border-color: transparent;
    cursor: pointer;
}
#ongoing-education-map {
    width: 100%;
    height: 300px;
}
#ongoing-education-legend {
    width: 100%;
    height: 50px;
    padding-top: 16px;
    float: left;
}
.plot-container {
    width: 66%;
    float: left;
}
#reset-ongoing-plot {
    width: 24px;
    height: 24px;
    bottom: 80px;
    left: calc(50% - 12px);
    position: absolute;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
}
#reset-ongoing-plot:hover {
    width: 30px;
    height: 30px;
    margin: -3px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 240px;
    padding: 12px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#menu {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 10px;
    top: 10px;
    list-style-type: none;
    z-index: 70;
}

#menu li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 14px;
}

#menu a {
    float: left;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

#menu .active a {
    color: #fff;
    background-color: #333;
}
#level-menu {
  width: 47%;
  padding:0;
}
#level-menu li {
  list-style: none;
  border: 1px solid white;
  cursor: pointer;
}
#level-menu li.active {
  border: 1px solid black;
  background-color: black;
  color: #fff
}
#level-menu li a {
  color: #000;
}
#level-menu li.active a {
  color: #fff;
}
#level-menu li:hover {
  border: 1px solid black;
}
#gender-menu {
  width: 47%;
  padding:0;
}
#gender-menu li {
  list-style: none;
  border: 1px solid white;
  cursor: pointer;
}
#gender-menu li.active {
  border: 1px solid black;
  background-color: black;
  color: #fff
}
#gender-menu li a {
  color: #000;
}
#gender-menu li.active a {
  color: #fff;
}
#gender-menu li:hover {
  border: 1px solid black;
}
#region-map {
  width: 43%;
  float: left;
}
#region-menu {
  width: 43%;
  float:right;
  margin-top: 300px;
  text-align: left;
}
